<div class="row">
    <div class="col-md-4">
        <img [src]="imgPrefix+movieDetails?.poster_path" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h2 class="my-2">{{movieDetails?.title}}{{movieDetails?.name}}</h2>
        <p class="my-2 secondFontColor">{{movieDetails?.tagline}}</p>
        <span class="p-1 bg-info rounded m-2" *ngFor="let gen of movieDetails?.genres">{{gen.name}}</span>
        <p class="my-4 ">vote : {{movieDetails?.vote_average}}</p>
        <p class="my-4 ">vote count : {{movieDetails?.vote_count}}</p>
        <p class="my-4 ">popularity : {{movieDetails?.popularity}}</p>
        <p class="my-4 " *ngIf="type=='movie'">release date : {{movieDetails?.release_date}}</p>
        <p class="my-2 secondFontColor">{{movieDetails?.overview}}</p>
    </div>
</div>
