<h2 class="mt-5">Registration Form</h2>
<div class="alert alert-danger" *ngIf="flag==true">
    <small>this email is registered before</small>
</div>
<form [formGroup]='registerForm' class="py-2" (ngSubmit)='getRegistrationInfo(registerForm)'>
    
<div class="form-group mb-2">
    <label>FirstName:</label>
    <input class="form-control" type="text" formControlName="first_name">
    <div class="alert alert-danger my-2 " *ngIf="registerForm.get('first_name')?.invalid && registerForm.get('first_name')?.touched">
        <small class="text-danger " *ngIf="registerForm.get('first_name')?.hasError('required')">firstName is required</small>
        <small class="text-danger" *ngIf="registerForm.get('first_name')?.hasError('minlength')">minlength is 3</small> 
        <small class="text-danger" *ngIf="registerForm.get('first_name')?.hasError('maxlength')">maxlength is 3</small> 
    </div>
</div>

<div class="form-group mb-2">
    <label>LastName:</label>
    <input class="form-control" type="text" formControlName="last_name">
    <div class="alert alert-danger my-2" *ngIf="registerForm.get('last_name')?.invalid && registerForm.get('last_name')?.touched">invalid lastName</div>
</div>

<div class="form-group mb-2">
    <label>Email:</label>
    <input class="form-control" type="email" formControlName="email">
    <div class="alert alert-danger my-2" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <small class="text-danger " *ngIf="registerForm.get('email')?.hasError('required')">email is required</small>
        <!-- <small class="text-danger" *ngIf="registerForm.get('email')?.hasError('pattern')">email must be @gmail.com</small>  -->
    </div>
</div>

<div class="form-group mb-2">
    <label>Password:</label>
    <input class="form-control" type="password" formControlName="password">
    <div class="alert alert-danger my-2" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">invalid password</div>
</div>

<button [disabled]="registerForm.invalid" type="submit" class="btn btn-mine text-light">register</button>

</form>
