<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center ">

            <div class="caption">
                <div class="brdr w-25"></div>
                <h2>trending <br> TV Shows <br> to watch now</h2>
                <p class="fw-light">most watched TV Shows by days</p>
                <div class="brdr w-75"></div>
            </div>
            
        </div>

        <div *ngFor="let TvShow of trendingTvShows" class="col-md-2">
            <div class="movie" [routerLink]="['/moviedetails',TvShow.media_type,TvShow.id]">
                <img [src]="imgPrefix+TvShow.poster_path" class="img-fluid" >
                <h3 class="h6 mt-2">{{TvShow.title}}{{TvShow.name}}</h3>
            </div>
        </div>
    </div>
</div>
